<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
</head>
<body>
<button id="link-button">Link Account</button>
<button id="delete-button">delete Account</button>
</body>

<script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script
        src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script type="text/javascript">
    (function ($) {
        var handler = Plaid.create({
            clientName: 'Plaid Quickstart',
            countryCodes: ['US'],
            env: 'sandbox',
            key: 'a3da65cc014515b2300226d16180c7',
            product: ['transactions'],
            onLoad: function () {

            },
            onSuccess: function (public_token, metadata) {
                $('#link-button').hide();
                $.get('/accounts/ach/link', {

                }, function (data) {
                    console.log(data);
                });
            },
            onExit: function (err, metadata) {
                if (err != null) {
                    // The user encountered a Plaid API error prior to exiting.
                }
            }
        });

        $('#link-button').on('click', function (e) {
            handler.open();
        });

        $('#delete-button').on('click', function (e) {
            $.ajax({
                url: '/accounts/ach/1',
                type: 'DELETE',
                success: function(result) {
                    console.log(result);
                }
            });

        });

    })(jQuery);
</script>
</html>