<!DOCTYPE HTML>
<html>
<head>
    <head>
        <title>Getting Started: Serving Web Content</title>
        <link href="https://threads.plaid.com/threads.css" rel="stylesheet">
        <link href="/style.css" rel="stylesheet" type="text/css">
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    </head>
</head>
<body>
<h2 class="text-center">Plaid</h2>
<hr/>
<button id="link-button">Link Account</button>
<button id="get-api" style="display: none">get API</button>
<span id="get_account"></span>
</body>

<script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script
        src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script type="text/javascript">
    (function ($) {
        var publickey = '[[${publickey}]]';
        var env = '[[${env}]]';
        var products = '[[${products}]]';

        var handler = Plaid.create({
            clientName: 'Plaid Quickstart',
            countryCodes: ['US'],
            env: env,
            key: publickey,
            product: [products],
            onLoad: function () {

            },
            onSuccess: function (public_token, metadata) {
                var achResponse = {
                    public_token: public_token,
                    achAccount: metadata.account,
                    institution: metadata.institution
                };
                $('#link-button').hide();
                $.ajax({
                    url: '/ACHAccount',
                    type: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify(achResponse),
                    success: function (data) {
                        $("#get_account").html(JSON.stringify(data));
                    }
                });
            },
            onExit: function (err, metadata) {
                if (err != null) {
                    // The user encountered a Plaid API error prior to exiting.
                }
            },
            onEvent: function (eventName, metadata) {

            }
        });

        $('#link-button').on('click', function (e) {
            handler.open();
        });

    })(jQuery);
</script>
</html>